.idea/
log/
.db
.target
.gradle
*/target/
/bin/
build
*.ipr
*.iws
*.iml
*.eml
atlassian-ide-plugin.xml
*.log
*.idea
*.mvn
*mvnw
*.cmd
tugboat_logs/
doc/
*/target
temp
out/
*~
/nbproject/
/pom.xml.versionsBackup
/.editorconfig
/test.out
nb-configuration.xml
*/report/
*/reports/
/lib/
/classes/
/class/
*/config/cucumber.properties
*/failed/